[SddmGreeterTheme]
Name=Material You
Description=Material You login theme with matugen-generated colors
Author=klynger
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-API=2.0
QtVersion=6
