hypr/monitors.conf
hypr/colors.conf
waybar/style.css
btop/themes/matugen.theme
gtk-3.0/colors.css
gtk-4.0/colors.css
swaync/matugen/matugen-swaync.css
wezterm/colors/matugen-theme.toml
rofi/colors.rasi
systemd/user/default.target.wants/
systemd/user/timers.target.wants/
