/*----------Global Reset-----------------*/
* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font Propo", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    min-height: 0px;
    padding: 0px;
    margin: 0px;
}

/*----------Waybar Container-------------*/
window#waybar {
    background-color: transparent;
    padding: 6px;
    border-radius: 14px;
}

/*----------Tooltip----------------------*/
tooltip {
    background: #15130c;
    border: 1px solid #4a4739;
    border-radius: 12px;
}

tooltip label {
    color: #e8e2d4;
    padding: 6px;
}

/*----------Workspaces-------------------*/
#workspaces {
    background-color: #15130c;
    padding: 5px 6px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid #4a4739;
    color: #e8e2d4;
}

#workspaces button {
    padding: 0px 4px;
    margin: 0px 3px;
    border-radius: 16px;
    color: #ccc6b4;
    background-color: #222017;
    transition: all 150ms ease-in-out;
}

#workspaces button.active {
    background-color: #e8e2d4;
    color: #15130c;
    min-width: 30px;
    transition: all 150ms ease-in-out;
}

#workspaces button:hover {
    background-color: #37352b;
    color: #363016;
    border-radius: 16px;
    min-width: 30px;
}

#workspaces button.urgent {
    background-color: #ffb4ab;
    color: #15130c;
    border-radius: 16px;
    transition: all 150ms ease-in-out;
}

/*----------Scratchpad-------------------*/
#scratchpad {
    background-color: #15130c;
    padding: 0 15px;
    margin: 0 0 0 12px;
    border: 1px solid #4a4739;
    border-radius: 12px;
    color: #e8e2d4;
}

/*----------Module Containers------------*/
#pulseaudio,
#temperature,
#cpu,
#memory,
#network,
#custom-notification,
#clock,
#custom-power {
    background-color: #15130c;
    padding: 0 15px;
    margin: 0 0 0 12px;
    border: 1px solid #4a4739;
    border-radius: 12px;
    color: #e8e2d4;
}

/*----------Clock------------------------*/
#clock {
    color: #a8d0b5;
}

/*----------Pulseaudio-------------------*/
#pulseaudio {
    color: #a8d0b5;
}

/*----------Temperature------------------*/
#temperature {
    color: #d0c7a2;
}

#temperature.critical {
    color: #ffb4ab;
}

/*----------CPU--------------------------*/
#cpu {
    color: #d9c76f;
    padding: 0 8px;
}

/*----------Memory-----------------------*/
#memory {
    color: #d9c76f;
    padding: 0 8px;
}

/*----------Network----------------------*/
#network {
    color: #d0c7a2;
}

/*----------Notification-----------------*/
#custom-notification {
    color: #e8e2d4;
    margin: 0 12px;
}

/*----------Power------------------------*/
#custom-power {
    color: #ffb4ab;
}
