[Unit]
Description=Change wallpaper using SWWW
After=swww.service

[Service]
ExecStart=%h/.local/bin/change-wallpaper

[Install]
WantedBy=default.target
