[Unit]
Description=Timer to change wallpapers every hour

[Timer]
OnBootSec=10sec
OnUnitActiveSec=1h
Persistent=true

[Install]
WantedBy=timers.target
