* {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
}

window {
    background-color: rgba(0, 0, 0, 0.5);
}

button {
    background-color: #221e24;
    color: #e8e0e8;
    border: 2px solid #4a454e;
    border-radius: 16px;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64px;
    padding-top: 72px;
    min-width: 100px;
    min-height: 100px;
}

button:hover {
    background-color: #2c292f;
    border-color: #d9bafa;
    color: #d9bafa;
}

button:focus {
    background-color: #373339;
    border-color: #d9bafa;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}
