* {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
}

window {
    background-color: rgba(0, 0, 0, 0.25);
}

button {
    background-color: #271d1c;
    color: #f1dedc;
    border: 2px solid #534341;
    border-radius: 16px;
    margin: 300px 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64px;
    padding-top: 72px;
    min-width: 100px;
    min-height: 100px;
}

button:hover {
    background-color: #322826;
    border-color: #ffb4a8;
    color: #ffb4a8;
}

button:focus {
    background-color: #3d3231;
    border-color: #ffb4a8;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}
