@import "/home/klynger/dev/hyprland-desktop-config/wofi/themes/solarized-dark.css";

* {
  font-family: 'CaskaydiaCove Nerd Font', monospace;
  font-size: 16px;
  color: @text-color;
}

/* Window */
window {
  padding: 20px;
  margin: 0px;
  border: 2px solid @border-color;
  border-radius: 10px;
  background: @base;
}

#input {
  margin: 2px 2px 0 2px;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid @input-border;
  padding: 4px 12px;
  background: @input-bg;
}

#inner-box {
  padding-top: 8px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 8px;
}

#entry {
  border-radius: 8px;
  margin: 0px 2px;
  padding: 8px 16px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

#entry:selected {
  outline: none;
  background-color: @base-selected;
  border-color: @border-color;
  box-shadow: 0 0 10px @selection-shadow;
}

#scroll {
  padding-right: 2px;
}

#text {
  margin-left: 8px;
}
