/*----------Global Reset-----------------*/
* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font Propo", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    min-height: 0px;
    padding: 0px;
    margin: 0px;
}

/*----------Waybar Container-------------*/
window#waybar {
    background-color: transparent;
    padding: 6px;
    border-radius: 14px;
}

/*----------Tooltip----------------------*/
tooltip {
    background: {{colors.surface.default.hex}};
    border: 1px solid {{colors.surface_variant.default.hex}};
    border-radius: 24px;
}

tooltip label {
    color: {{colors.on_surface.default.hex}};
    padding: 6px;
}

/*----------Workspaces-------------------*/
#workspaces {
    background-color: {{colors.surface.default.hex}};
    padding: 4px 6px;
    margin: 0 0 0 8px;
    border-radius: 24px;
    border: 1px solid {{colors.surface_variant.default.hex}};
    color: {{colors.on_surface.default.hex}};
}

#workspaces button {
    padding: 0px 4px;
    margin: 0px 3px;
    border-radius: 16px;
    color: {{colors.on_surface_variant.default.hex}};
    background-color: {{colors.surface_container.default.hex}};
    transition: all 150ms ease-in-out;
}

#workspaces button.active {
    background-color: {{colors.on_surface.default.hex}};
    color: {{colors.surface.default.hex}};
    min-width: 30px;
    transition: all 150ms ease-in-out;
}

#workspaces button:hover {
    background-color: {{colors.surface_container_highest.default.hex}};
    color: {{colors.on_secondary.default.hex}};
    border-radius: 16px;
    min-width: 30px;
}

#workspaces button.urgent {
    background-color: {{colors.error.default.hex}};
    color: {{colors.surface.default.hex}};
    border-radius: 16px;
    transition: all 150ms ease-in-out;
}

/*----------Shared module style----------*/
#scratchpad,
#pulseaudio,
#network,
#custom-notification,
#clock,
#custom-power,
#hardware {
    background-color: {{colors.surface.default.hex}};
    padding: 0 12px;
    margin: 0 0 0 8px;
    border: 1px solid {{colors.surface_variant.default.hex}};
    border-radius: 24px;
    color: {{colors.on_surface.default.hex}};
}

/*----------Clock------------------------*/
#clock {
    color: {{colors.tertiary.default.hex}};
}

/*----------Pulseaudio-------------------*/
#pulseaudio {
    color: {{colors.tertiary.default.hex}};
}

/*----------Hardware modules (inside group)--*/
#temperature,
#cpu,
#memory {
    color: {{colors.primary.default.hex}};
    padding: 0 4px;
}

#temperature.critical {
    color: {{colors.error.default.hex}};
}

/*----------Network----------------------*/
#network {
    color: {{colors.secondary.default.hex}};
}

/*----------Notification-----------------*/
#custom-notification {
    font-size: 16px;
}

#custom-notification label {
    color: inherit;
}

/*----------Power------------------------*/
#custom-power {
    color: {{colors.error.default.hex}};
}
